<a href="https://colab.research.google.com/github/Ayan02-coder/Computational_Satistics/blob/Practice/PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA

In [22]:
from sklearn.datasets import load_linnerud

X,y = load_linnerud(return_X_y=True)

In [23]:
df1=pd.DataFrame(X, columns=["Weight","Waist","Pules"])
print(df1)

    Weight  Waist  Pules
0      5.0  162.0   60.0
1      2.0  110.0   60.0
2     12.0  101.0  101.0
3     12.0  105.0   37.0
4     13.0  155.0   58.0
5      4.0  101.0   42.0
6      8.0  101.0   38.0
7      6.0  125.0   40.0
8     15.0  200.0   40.0
9     17.0  251.0  250.0
10    17.0  120.0   38.0
11    13.0  210.0  115.0
12    14.0  215.0  105.0
13     1.0   50.0   50.0
14     6.0   70.0   31.0
15    12.0  210.0  120.0
16     4.0   60.0   25.0
17    11.0  230.0   80.0
18    15.0  225.0   73.0
19     2.0  110.0   43.0

In [24]:
df2=pd.DataFrame(y, columns=["chins","sit_ups","jumps"])
print(df2)

    chins  sit_ups  jumps
0   191.0     36.0   50.0
1   189.0     37.0   52.0
2   193.0     38.0   58.0
3   162.0     35.0   62.0
4   189.0     35.0   46.0
5   182.0     36.0   56.0
6   211.0     38.0   56.0
7   167.0     34.0   60.0
8   176.0     31.0   74.0
9   154.0     33.0   56.0
10  169.0     34.0   50.0
11  166.0     33.0   52.0
12  154.0     34.0   64.0
13  247.0     46.0   50.0
14  193.0     36.0   46.0
15  202.0     37.0   62.0
16  176.0     37.0   54.0
17  157.0     32.0   52.0
18  156.0     33.0   54.0
19  138.0     33.0   68.0

In [25]:
df=pd.merge(df1,df2,left_index=True,right_index=True)
df

    Weight  Waist  Pules  chins  sit_ups  jumps
0      5.0  162.0   60.0  191.0     36.0   50.0
1      2.0  110.0   60.0  189.0     37.0   52.0
2     12.0  101.0  101.0  193.0     38.0   58.0
3     12.0  105.0   37.0  162.0     35.0   62.0
4     13.0  155.0   58.0  189.0     35.0   46.0
5      4.0  101.0   42.0  182.0     36.0   56.0
6      8.0  101.0   38.0  211.0     38.0   56.0
7      6.0  125.0   40.0  167.0     34.0   60.0
8     15.0  200.0   40.0  176.0     31.0   74.0
9     17.0  251.0  250.0  154.0     33.0   56.0
10    17.0  120.0   38.0  169.0     34.0   50.0
11    13.0  210.0  115.0  166.0     33.0   52.0
12    14.0  215.0  105.0  154.0     34.0   64.0
13     1.0   50.0   50.0  247.0     46.0   50.0
14     6.0   70.0   31.0  193.0     36.0   46.0
15    12.0  210.0  120.0  202.0     37.0   62.0
16     4.0   60.0   25.0  176.0     37.0   54.0
17    11.0  230.0   80.0  157.0     32.0   52.0
18    15.0  225.0   73.0  156.0     33.0   54.0
19     2.0  110.0   43.0  138.0     33.0   68.0

In [26]:
X = df.drop("Weight", axis=1)
y = df["Weight"]

In [33]:
pca = PCA()
X_pca = pca.fit_transform(X)

In [29]:
print(pca.explained_variance_ratio_)

[7.81599814e-01 1.54898990e-01 5.72442166e-02 6.07368351e-03
 1.83295512e-04]

In [32]:
data_transformed = pca.transform(X)